@import './var';
.supCont {
  display: grid;
  place-items: center;
  margin: 2rem 0;
  max-width: 100vw;
  .cont {
    width: 95%;
    max-width: 1100px;
    .button {
      display: flex;
      gap: 1rem;
    }
    .top {
      width: 100%;
      display: grid;
      grid-template-columns: 1.6fr 1fr;
      gap: 2rem;
      padding-bottom: 2rem;
    }
    .bottom {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      gap: 2rem;
      padding-bottom: 2rem;

      .prices {
        display: grid;
        gap: 0.5rem;
      }
    }
  }
}
@media only screen and (max-width: 780px) {
  .supCont {
    .cont {
      .top {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
      }
      .bottom {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        & > div:nth-child(1) {
          grid-row: 2 / 3;
        }
        & > div:nth-child(2) {
          grid-row: 1 / 2;
        }
      }
    }
  }
}
