@import './var';

.cont {
  border: 2px dashed $grey-lighter;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  .cut {
    position: absolute;
    left: 0;
    top: 0;
  }
  &:hover {
    border: 2px dashed $grey-light;
    & > div {
      color: $grey;
    }
  }
  &:active {
    border: 2px dashed $pink-light;
    background-color: $pink-lightest;
    & > div {
      color: $pink;
    }
  }
  & > div {
    display: flex;
    flex-direction: column;
    color: $grey-light;
    .mainIcon {
      font-size: 3rem;
    }
  }
}
.on {
  border: 2px dashed $pink;
  background-color: $pink-lightest;
  & > div {
    color: $pink;
  }
}
