@import './var';
.cont {
  display: grid;
  width: 50%; // temp
  grid-template-columns: minmax(20px, auto) auto;
  grid-template-rows: 1fr;
  gap: 1rem;
  .logo {
    aspect-ratio: 1 / 1;
    background-color: aqua;
    width: 100%;
  }
  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
