@import './var';
.cont {
  display: grid;
  grid-template-columns: minmax(160px, 0.5fr) 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  .logo {
    aspect-ratio: 1 / 1;
    width: 100%;
  }
  .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .cont {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(160px, 30vh) auto;
    .logo {
      aspect-ratio: 1 / 1;
      width: auto;
      height: 100%;
    }
  }
}
