@import './var';
.grid {
  display: grid;
  min-width: 950px;
  grid-template-columns: 4.5fr 1.875fr 1fr 0.875fr 1.75fr 2fr;
  gap: 0.5rem;
  & > div {
    width: 100%;
    text-align: center;
  }
}
.cont {
  max-width: 95vw;
  overflow-y: clip;
  overflow-x: scroll;
}
.head {
  background: linear-gradient(90deg, $red-primary 0%, $pink-hot 65%);
  border-radius: 5px;
  p {
    color: #fff;
    font-weight: 600;
  }
}
.itemCont {
  position: relative;
  .item {
    border-bottom: 1px solid $pink;
    font-weight: 300;
    padding-block: 1rem;
    & > div {
      display: grid;
      align-items: center;
    }
  }
  .button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
  }
}
