@import './var';
.cont {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  & > div {
    display: flex;
    align-items: center;
  }
  .input {
    border: 1px solid $grey-lighter;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    transition: 0.12s linear border;
    border-radius: 5px;
    width: 100%;
    margin-left: 0.25rem;
    &:focus {
      border: 1px solid $pink;
      outline: 0;
    }
    &::placeholder {
      font-weight: 400;
    }
    &:read-only {
      pointer-events: none;
    }
  }
  .textarea {
    resize: none;
    padding: 0.5rem;
  }
}
.eLabel {
  margin: 0;

  input {
    font-size: 0.95rem;
    font-weight: 600;
    border: 0;
    margin: 0;
    margin-inline: 0.4rem;
    border-bottom: 1px dotted $grey-light;

    &:focus {
      border-bottom: 1px solid $grey-lighter;
    }
  }
}
