@import './var';
.supCont {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 2rem;
  .cont {
    background: #fff;
    position: relative;
    border-radius: 9px;
    width: 100%;
    padding: 1.5rem;
    @include Border;
    .h2 {
      position: absolute;
      font-size: 1.3rem;
      top: -20px;
      left: 2.5rem;
      max-width: 200px;
      padding-inline: 0.5rem;
      background: linear-gradient(90deg, red 0%, $pink-hot 65%);
      background-clip: text;
      color: transparent;
      &::after {
        content: '';
        inset: 0;
        background-color: #fff;
        position: absolute;
        z-index: -1;
      }
    }
    .inputs {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 0.2rem;
      padding-bottom: 1rem;
    }
  }
}
